In [1]:
import pandas as pd 
import numpy as np

In [6]:
first_dataset = pd.read_csv("deliveries.csv")
second_dataset = pd.read_csv("matches.csv")

first_dataset.head()

,ID,innings,BattingTeam,BowlingTeam,overs,ballnumber,batter,bowler,non-striker,batsman_run,extras_run,total_run,extra_type,isWicketDelivery,player_out,kind,fielders_involved
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [7]:
second_dataset.head()

,ID,Season,City,Date,match_type,Player_of_Match,Venue,Team1,Team2,TossWinner,TossDecision,WinningTeam,WonBy,Margin,target_runs,target_overs,SuperOver,method,Umpire1,Umpire2
0,335982,2007/08,Bangalore,4/18/08,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,4/19/08,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,4/19/08,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,4/20/08,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,4/20/08,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [8]:
first_dataset.columns

Index(['ID', 'innings', 'BattingTeam', 'BowlingTeam', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'batsman_run', 'extras_run',
       'total_run', 'extra_type', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved'],
      dtype='object')

In [9]:
total_runs = first_dataset.groupby(['ID','innings']).sum()['total_run'].add(1).reset_index()

In [10]:
total_runs

           ID  innings  total_run
0      335982        1        223
1      335982        2         83
2      335983        1        241
3      335983        2        208
4      335984        1        130
...       ...      ...        ...
2212  1426310        2        175
2213  1426311        1        176
2214  1426311        2        140
2215  1426312        1        114
2216  1426312        2        115

[2217 rows x 3 columns]

In [11]:
total_runs = total_runs[total_runs['innings']==1]

In [12]:
match_df = second_dataset.merge(total_runs[['ID','total_run']],left_on='ID',right_on='ID')

In [13]:
match_df

,ID,Season,City,Date,match_type,Player_of_Match,Venue,Team1,Team2,TossWinner,...,WinningTeam,WonBy,Margin,target_runs,target_overs,SuperOver,method,Umpire1,Umpire2,total_run
0,335982,2007/08,Bangalore,4/18/08,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,223
1,335983,2007/08,Chandigarh,4/19/08,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,241
2,335984,2007/08,Delhi,4/19/08,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,130
3,335985,2007/08,Mumbai,4/20/08,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,166
4,335986,2007/08,Kolkata,4/20/08,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,5/19/24,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,215
1091,1426309,2024,Ahmedabad,5/21/24,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,160
1092,1426310,2024,Ahmedabad,5/22/24,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,173
1093,1426311,2024,Chennai,5/24/24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,176
1094,1426312,2024,Chennai,5/26/24,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,114

In [14]:
match_df['Team1'].value_counts()

Royal Challengers Bangalore    135
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                85
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Lucknow Super Giants            23
Pune Warriors                   23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Name: Team1, dtype: int64

In [15]:
match_df['Team1'] = match_df['Team1'].replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2'] = match_df['Team2'].replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1'] = match_df['Team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['Team1'] = match_df['Team1'].replace('Kings XI Punjab','Punjab Kings')
match_df['Team2'] = match_df['Team2'].replace('Kings XI Punjab','Punjab Kings')

In [16]:
match_df['Team1'].value_counts()

Royal Challengers Bangalore    135
Chennai Super Kings            128
Delhi Capitals                 126
Sunrisers Hyderabad            125
Punjab Kings                   123
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Pune Warriors                   23
Lucknow Super Giants            23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Rising Pune Supergiant           7
Name: Team1, dtype: int64

In [17]:
teams = ['Kolkata Knight Riders', 
         'Chennai Super Kings',
         'Punjab Kings', 
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad',
         'Lucknow Super Giants',
         'Gujarat Titans'
         ]

In [18]:
match_df = match_df[match_df['Team1'].isin(teams)]
match_df = match_df[match_df['Team2'].isin(teams)]

In [19]:
match_df['Team1'].value_counts()

Royal Challengers Bangalore    127
Chennai Super Kings            124
Delhi Capitals                 118
Sunrisers Hyderabad            117
Punjab Kings                   115
Mumbai Indians                 113
Kolkata Knight Riders          113
Rajasthan Royals                97
Lucknow Super Giants            22
Gujarat Titans                  19
Name: Team1, dtype: int64

In [20]:
match_df.shape

(965, 21)

In [21]:
match_df = match_df[['ID','City','WinningTeam','total_run', 'Team1', 'Team2']]

In [22]:
match_df.shape

(965, 6)

In [23]:
second_innings = match_df.merge(first_dataset,on='ID')
second_innings

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,bowler,non-striker,batsman_run,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved
0,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [24]:
second_innings = second_innings[second_innings['innings']==2]
second_innings.shape

(111082, 22)

In [25]:
second_innings

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,bowler,non-striker,batsman_run,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [26]:
second_innings['Team1'] = second_innings['Team1'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['Team2'] = second_innings['Team2'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['Team1'] = second_innings['Team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['Team2'] = second_innings['Team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['Team1'] = second_innings['Team1'].replace('Kings XI Punjab','Punjab Kings')
second_innings['Team2'] = second_innings['Team2'].replace('Kings XI Punjab','Punjab Kings')

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/340332489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['Team1'] = second_innings['Team1'].replace('Delhi Daredevils','Delhi Capitals')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/340332489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['Team2'] = second_innings['Team2'].replace('Delhi Daredevils','Delhi Capitals')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/340332489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['Team1'] = second_innings['Team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/340332489.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['Team2'] = second_innings['Team2'].replace('Deccan Chargers','Sunrisers Hyderabad')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/340332489.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['Team1'] = second_innings['Team1'].replace('Kings XI Punjab','Punjab Kings')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/340332489.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['Team2'] = second_innings['Team2'].replace('Kings XI Punjab','Punjab Kings')

In [27]:
second_innings['Team1'].value_counts()

Chennai Super Kings            14752
Royal Challengers Bangalore    14289
Sunrisers Hyderabad            13535
Delhi Capitals                 13513
Punjab Kings                   13229
Mumbai Indians                 13162
Kolkata Knight Riders          12771
Rajasthan Royals               11186
Lucknow Super Giants            2488
Gujarat Titans                  2157
Name: Team1, dtype: int64

In [28]:
second_innings.columns

Index(['ID', 'City', 'WinningTeam', 'total_run_x', 'Team1', 'Team2', 'innings',
       'BattingTeam', 'BowlingTeam', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'batsman_run', 'extras_run', 'total_run_y', 'extra_type',
       'isWicketDelivery', 'player_out', 'kind', 'fielders_involved'],
      dtype='object')

In [29]:
second_innings.shape

(111082, 22)

In [30]:
# Function to determine the bowling team
def determine_bowling_team(row):
    if row['BattingTeam'] == row['Team1']:
        return row['Team2']
    else:
        return row['Team1']

# Create the new 'BowlingTeam' column
second_innings['BowlingTeam'] = second_innings.apply(determine_bowling_team, axis=1)

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1899240566.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BowlingTeam'] = second_innings.apply(determine_bowling_team, axis=1)

In [31]:
second_innings.tail(103)

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,bowler,non-striker,batsman_run,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved
230062,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,2,Rajasthan Royals,Sunrisers Hyderabad,14,...,Shahbaz Ahmed,Dhruv Jurel,0,0,0,NaN,0,NaN,NaN,NaN
230063,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,2,Rajasthan Royals,Sunrisers Hyderabad,14,...,Shahbaz Ahmed,Dhruv Jurel,0,0,0,NaN,0,NaN,NaN,NaN
230064,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,2,Rajasthan Royals,Sunrisers Hyderabad,14,...,Shahbaz Ahmed,Dhruv Jurel,1,0,1,NaN,0,NaN,NaN,NaN
230065,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,2,Rajasthan Royals,Sunrisers Hyderabad,14,...,Shahbaz Ahmed,R Powell,4,0,4,NaN,0,NaN,NaN,NaN
230066,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,2,Rajasthan Royals,Sunrisers Hyderabad,14,...,Shahbaz Ahmed,R Powell,4,0,4,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [32]:
second_innings['BattingTeam'] = second_innings['BattingTeam'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['BowlingTeam'] = second_innings['BowlingTeam'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['BattingTeam'] = second_innings['BattingTeam'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['BowlingTeam'] = second_innings['BowlingTeam'].replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['BattingTeam'] = second_innings['BattingTeam'].replace('Kings XI Punjab','Punjab Kings')
second_innings['BowlingTeam'] = second_innings['BowlingTeam'].replace('Kings XI Punjab','Punjab Kings')

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1361729818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BattingTeam'] = second_innings['BattingTeam'].replace('Delhi Daredevils','Delhi Capitals')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1361729818.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BowlingTeam'] = second_innings['BowlingTeam'].replace('Delhi Daredevils','Delhi Capitals')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1361729818.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BattingTeam'] = second_innings['BattingTeam'].replace('Deccan Chargers','Sunrisers Hyderabad')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1361729818.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BowlingTeam'] = second_innings['BowlingTeam'].replace('Deccan Chargers','Sunrisers Hyderabad')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1361729818.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BattingTeam'] = second_innings['BattingTeam'].replace('Kings XI Punjab','Punjab Kings')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1361729818.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['BowlingTeam'] = second_innings['BowlingTeam'].replace('Kings XI Punjab','Punjab Kings')

In [33]:
second_innings

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,bowler,non-striker,batsman_run,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [34]:
second_innings['BowlingTeam'].unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [35]:
second_innings['current_Score'] = second_innings.groupby('ID').cumsum()['total_run_y']
second_innings

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/3076402150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['current_Score'] = second_innings.groupby('ID').cumsum()['total_run_y']

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,non-striker,batsman_run,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved,current_Score
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,110
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,111
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,112
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,113
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,114

In [36]:
second_innings['runs_left'] = second_innings['total_run_x'] - second_innings['current_Score']
second_innings

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/802083827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['runs_left'] = second_innings['total_run_x'] - second_innings['current_Score']

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,batsman_run,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved,current_Score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0

In [37]:
second_innings['balls_left'] = 126 - (second_innings['overs']*6 +second_innings['ballnumber'])
second_innings

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/2820591732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['balls_left'] = 126 - (second_innings['overs']*6 +second_innings['ballnumber'])

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,extras_run,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved,current_Score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,1,222,125
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,1,wides,0,NaN,NaN,NaN,2,221,124
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,0,NaN,NaN,NaN,2,221,123
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,3,220,122
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,4,219,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,1,NaN,0,NaN,NaN,NaN,110,4,67
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,1,NaN,0,NaN,NaN,NaN,111,3,66
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,112,2,65
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,113,1,64
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,1,NaN,0,NaN,NaN,NaN,114,0,63

In [38]:
second_innings.columns

Index(['ID', 'City', 'WinningTeam', 'total_run_x', 'Team1', 'Team2', 'innings',
       'BattingTeam', 'BowlingTeam', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'batsman_run', 'extras_run', 'total_run_y', 'extra_type',
       'isWicketDelivery', 'player_out', 'kind', 'fielders_involved',
       'current_Score', 'runs_left', 'balls_left'],
      dtype='object')

In [39]:
# Select the columns of interest
columns_to_check = ['current_Score', 'runs_left', 'balls_left']

# Check how many values in each column are negative
negative_counts = second_innings[columns_to_check].lt(0).sum()

# Display the counts
print("Number of negative values in each column:")
print(negative_counts)

Number of negative values in each column:
current_Score      0
runs_left        303
balls_left         0
dtype: int64

In [40]:
second_innings['player_out'] = second_innings['player_out'].fillna("0")
second_innings['player_out'] = second_innings['player_out'].apply(lambda x:x if x=="0" else "1")
second_innings['player_out'] = second_innings['player_out'].astype('int')
wickets = second_innings.groupby('ID').cumsum()['player_out']
second_innings['wickets_remaining'] = 10-wickets
second_innings

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1997531377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_out'] = second_innings['player_out'].fillna("0")
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1997531377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_out'] = second_innings['player_out'].apply(lambda x:x if x=="0" else "1")
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1997531377.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['player_out'] = second_innings['player_out'].astype('int')
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1997531377.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['wickets_remaining'] = 10-wickets

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,total_run_y,extra_type,isWicketDelivery,player_out,kind,fielders_involved,current_Score,runs_left,balls_left,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,1,222,125,10
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,wides,0,0,NaN,NaN,2,221,124,10
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,0,0,NaN,NaN,2,221,123,10
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,3,220,122,10
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,4,219,121,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,0,NaN,NaN,110,4,67,8
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,NaN,0,0,NaN,NaN,111,3,66,8
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,112,2,65,8
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,113,1,64,8
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,NaN,0,0,NaN,NaN,114,0,63,8

In [41]:
second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1691903609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/1691903609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,isWicketDelivery,player_out,kind,fielders_involved,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,NaN,1,222,125,10,-1.20,10.66
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,NaN,2,221,124,10,-3.00,10.69
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,NaN,2,221,123,10,-4.00,10.78
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,NaN,3,220,122,10,-9.00,10.82
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,NaN,4,219,121,10,-24.00,10.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,0,NaN,NaN,110,4,67,8,12.45,0.36
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,0,NaN,NaN,111,3,66,8,12.33,0.27
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,0,NaN,NaN,112,2,65,8,12.22,0.18
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,0,NaN,NaN,113,1,64,8,12.11,0.09
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,0,NaN,NaN,114,0,63,8,12.00,0.00

In [42]:
def winner(team):
    return 1 if team['BattingTeam'] == team['WinningTeam'] else 0

In [43]:
second_innings['results'] = second_innings.apply(winner,axis=1)
second_innings

/var/folders/x7/gt1_njjn435g742snp4jzlr40000gn/T/ipykernel_3347/3111665595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['results'] = second_innings.apply(winner,axis=1)

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,BattingTeam,BowlingTeam,overs,...,player_out,kind,fielders_involved,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr,results
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,1,222,125,10,-1.20,10.66,0
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,2,221,124,10,-3.00,10.69,0
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,2,221,123,10,-4.00,10.78,0
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,3,220,122,10,-9.00,10.82,0
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,4,219,121,10,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,NaN,NaN,110,4,67,8,12.45,0.36,1
230278,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,0,NaN,NaN,111,3,66,8,12.33,0.27,1
230279,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,NaN,NaN,112,2,65,8,12.22,0.18,1
230280,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,NaN,NaN,113,1,64,8,12.11,0.09,1
230281,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,0,NaN,NaN,114,0,63,8,12.00,0.00,1

In [44]:
required_data = second_innings[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets_remaining','total_run_x','crr','rrr','results']]
required_data

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets_remaining,total_run_x,crr,rrr,results
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,125,10,223,-1.20,10.66,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,124,10,223,-3.00,10.69,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,123,10,223,-4.00,10.78,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,122,10,223,-9.00,10.82,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,121,10,223,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...
230277,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,8,114,12.45,0.36,1
230278,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,8,114,12.33,0.27,1
230279,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,8,114,12.22,0.18,1
230280,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,8,114,12.11,0.09,1
230281,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,8,114,12.00,0.00,1

In [45]:
required_data = required_data.replace([np.inf, -np.inf], np.nan)
required_data = required_data.dropna()

In [46]:
required_data = required_data[required_data['crr'] >= 0]

In [47]:
columns_to_check = ['runs_left', 'balls_left', 'wickets_remaining', 'total_run_x', 'crr', 'rrr', 'results']

required_data = required_data[~(required_data[columns_to_check] < 0).any(axis=1)]

In [48]:
required_data.head()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets_remaining,total_run_x,crr,rrr,results
130,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,10,223,24.0,11.04,0
131,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,9,223,24.0,11.04,0
132,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,118,9,223,12.0,11.14,0
133,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,215,117,9,223,16.0,11.03,0
134,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,214,116,9,223,13.5,11.07,0

In [49]:
# Assuming your DataFrame is named 'df'
required_data.rename(columns={'BattingTeam': 'batting_team', 'BowlingTeam': 'bowling_team', 'City': 'city'}, inplace=True)
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_run_x,crr,rrr,results
130,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,10,223,24.00,11.04,0
131,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,9,223,24.00,11.04,0
132,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,118,9,223,12.00,11.14,0
133,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,215,117,9,223,16.00,11.03,0
134,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,214,116,9,223,13.50,11.07,0
...,...,...,...,...,...,...,...,...,...,...
230277,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,8,114,12.45,0.36,1
230278,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,8,114,12.33,0.27,1
230279,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,8,114,12.22,0.18,1
230280,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,8,114,12.11,0.09,1
230281,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,8,114,12.00,0.00,1

In [50]:
numeric = required_data[['runs_left', 'balls_left', 'wickets_remaining', 'total_run_x', 'crr', 'rrr', 'results']]
has_infinite_values = np.any(np.isinf(numeric))

# Check for negative values in the entire DataFrame
has_negative_values = (numeric < 0).any().any()

# Check for null values in the entire DataFrame
has_null_values = numeric.isnull().any().any()

# Display the results
print(f"Has Infinite Values: {has_infinite_values}")
print(f"Has Negative Values: {has_negative_values}")
print(f"Has Null Values: {has_null_values}")

Has Infinite Values: False
Has Negative Values: False
Has Null Values: False

In [53]:
required_data.to_csv("FinalIPLDataSet.csv", index=False)